*{
    margin:0;
    border:0;
    padding: 0;
    outline:0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    background: linear-gradient(rgb(223, 230, 189),rgb(236, 236, 145));
    font-family: 'Raleway', sans-serif;
    font-style: bold;
}

.wrapper{
    width: 300px;
    height: 350px;
    margin: 50px auto;
    border: solid 6px rgba(139, 202, 149, 0.692);
    border-radius: 20px;
    background:rgba(228, 228, 158, 0.719);
}

.header{
    width:100%;
    text-align:center;
    height:50px;
    border-radius: 10px 10px 0 0;
    font-size: 25px;
    padding-top: 10px;
    background: linear-gradient(rgba(229, 229, 128, 0.767),rgb(207, 179, 127));
}

span{
    border-bottom: dashed 2px black;
    display: block;
    height: 100%;
    width: 100%;
}

.wrap-list{
    height:85%;
    width:100%;
    border-radius:0 0 10px 10px;
}

input[type="checkbox"]{
    position: relative;
    top:14px;
    right:12px;
    float:right;
}

input[type="checkbox"]:checked + label{
    text-decoration:line-through;
    opacity: 0.3;
}

.list{
    list-style: none;
    color: rgba(0, 0, 0, .8);
}

.list li{
    width: 100%;
    float: left;
}

label{
    padding: 10px;
    float: left;
    width:90%;
}

.grey{
    background-color: rgba(241, 241, 138, 0.582);

}